<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huantansheng.easyphotos">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".ui.EasyPhotosActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/EasyPhotosFullscreenTheme" />

        <activity
            android:name=".ui.PuzzleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EasyPhotosPuzzleTheme"/>
    </application>

</manifest>